.nav {
  background-color: #f4f7fb;
  height: 10vh;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
.nav__center ul {
  display: flex;
  gap: 7em;
}
.nav__center ul li {
  list-style-type: none;
  font-size: 1.5rem;
}
.nav__center ul li a {
  padding: 1em;
  text-decoration: none;
  color: black;
}
.nav__center ul li a:hover {
  background-color: #eea534;
  color: white;
}
.nav__right {
  display: inline-flex;
  gap: 3em;
}
nav__left p {
  margin-right: 10%;
}
.orange {text-align: center;
  color: orange;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 40em;
}
.searchbar {
  border: solid lightgray 1px;
  width: 240%;
  padding: 1.6em;
}

.searchbar__hero__left {
  display: flex;
  justify-content: space-between;
  padding: 5em;
}
.btn_subscribe {
  color: white;
  background-color: orange;
}
.hero__left input {
  border-style: none;
  outline: none;
}
.card__review__hero__left {
  display: flex;
  align-items: flex-start;
  background-color: black;
  gap: 4em;
}
.hero__right {
  justify-content: space-around;
}
.hero__small {
  justify-content: space-between;
}

.menu-section {
  text-align: center;
}
.menu-list ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.menu-list ul:hover a {
  background-color: #eea534;
}
.menu__cart__container {
  display: flex;
  justify-content: space-around;
}
.add__more {
  text-align: center;
  color: #f4f7fb;
  padding: 40px;
}
.why__us__container {
  display: flex;
  gap: 2em;
}
.why__us__right img {
  background-color: black;
}
.fresh__pizza__image {
  display:flex;
}
.fresh__pizza__img {
  gap: 10em;
}
.Help__container__contact {
  text-align: center;
  
}

.Help__container__1{
  display:flex;

  
}
.container__footer__social {
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  gap: 2em;
  justify-content: space-around;
}
.container__footer__quicklinks :hover {
  background-color: #eea534;
}
.menu__shop {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
