.nav {
  background-color: #f4f7fb;
  height: 10vh;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
.nav__center ul {
  display: flex;
  gap: 7em;
}
.nav__center ul li {
  list-style-type: none;
  font-size: 1.5rem;
}
.nav__center ul li a {
  padding: 1em;
  text-decoration: none;
  color: black;
}
.nav__center ul li a:hover {
  background-color: #eea534;
  color: white;
}
.nav__right {
  display: inline-flex;
  gap: 3em;
}
nav__left p {
  margin-right: 10%;
}
.orange {
  text-align: center;
  color: orange;
}
.hero__container {
  display: flex;
  justify-content: space-around;
}
.hero__pizza {
  margin-left: -50%;
}
.hero__small {
  justify-content: space-around;
  margin-top: 10%;
  margin-left: -5%;
  display: flex;
}


.search {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  background-color: #f4f7fb;
}
.search input {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  border: none;
}
.search button {
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  font-size: 1.2rem;
}
.btn__content {
  border: none;
  padding: 3em 3em;
  background-color: rgb(40, 37, 37);
  width: fit-content;
}
.btn__content {
  color: white;
  font-size: 80px;
}
.btn_subscribe {
  color: white;
  background-color: orange;
}

.hero__left {
  margin-left: 5%;
  
}
.card__review__hero__left img {
  background-color: black;
  border-radius: 100%;
}

.card__review__left{
  display: flex;
  align-items:flex-start;
  background-color: #f4f7fb;
  gap: 4em;
  padding: 50px;
}
.card__review__center{
  background-color: #f4f7fb;
  padding: 50px;
}
.card__review__right{
  background-color: #f4f7fb;
  padding:50px;
}
.card__review__hero__left{
  display: flex;
  gap:4em
}
.why__us__container {
  display: flex;
  gap: 2em;
  justify-content: space-around;
}
.why__us__right {
  background-color: #f4f7fb;
}
.why__us__right img {
  background-color: black;
}
.fresh__pizza__image {
  display: flex;
}
.fresh__pizza__img {
  gap: 10em;
}
.Help__container__contact {
  text-align: center;
  height: 25vh;
  justify-content: center;
}
.Help__container__1 {
  display: flex;
  justify-content: space-around;
}
.container__footer__social {
  background-color: black;
  color: white;
  padding: 50px;
  display: flex;
  gap: 2em;
  justify-content: space-around;
}
.container__footer__quicklinks:hover {
  background-color: #eea534;
}
.menu__shop {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
