.menu-section {
  text-align: center;
  margin-top: 5%;
}
.menu-list ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.menu-list ul li a:hover {
  color: #eea534;

}
.menu__cart__container {
  display: flex;
  justify-content: space-around;
}
.menu__shop {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.menu-list ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-bottom: 3px solid gray;
  padding-bottom: 1em;
}

.menu-list ul li a{
    color: black;
    
}
.menu-list ul li a:hover{
  border-bottom:3px solid #eea534;
  color: #eea534;
    
}
.add__more button {
  display: flex;
    text-align:center;
    background-color:orange;
    padding:10px;
    color: white;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  border-radius:60%;
  }
  .orange{
    justify-content: space-between;
  
  }
  .menu__cart__right{
    background-color: #f4f7fb;
  }
  .menu__cart__center{
    background-color: #f4f7fb;
  }
  .menu__cart__left{
    background-color: #f4f7fb;
  }
  .menu__shop img{
    background-color: #f4f7fb;

  }
  